[section]
	key = value
[push]
	default = matching
[color]
	ui = auto
[core]
	eol = crlf
	fscache = true
	trustctime = false
	editor = notepad++.exe -multiInst -nosession \"$(cygpath -m \"$*\")\"
[alias]
	st = status
	ci = commit
	co = checkout
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset\" --abbrev-commit --date=relative
