[user]
    email = 
    name = Tushar Sharma
[section]
	key = value
[push]
	default = matching
[color]
	ui = auto
[core]
	eol = crlf
	fscache = true
	trustctime = false
	editor = notepad++.exe -multiInst -nosession \"$(cygpath -m \"$*\")\"
[alias]
        a = add
        au = add -u
	br = branch
        ci = commit
        co = checkout
        d = diff
        ds = diff --stat
        dc = diff --cached
	df = difftool
        f = fetch
        p = push
	pl = pull
        lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset\" --abbrev-commit --date=relative
	r = reflog
	rs = reset --hard
        s = status
	sl = stash list
	st = stash 
	sp = stash pop
	
[diff]
    tool = winmerge
    # tool = bc3
    # git config --global diff.tool bc3
    # git config --global merge.tool bc3
[difftool "winmerge"]
    cmd = ~/git-difftool-winmerge-wrapper.sh \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[merge]
    tool = winmerge
[mergetool "winmerge"]
    cmd = ~/git-difftool-winmerge-wrapper.sh \"$MERGED\" \"$REMOTE\"
[mergetool]
    keepBackup = false
    trustExitCode = false
